body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

/* Navbar */
.navbar {
  margin-bottom: 30px;
  border-radius: 5px;
  box-shadow: 1px -1px 20px rgba(0, 0, 0, 0.2);
  padding: 10px 20px;
  top: 20px;
  background-color: #02478b;
}

.navbar-logo {
  margin-right: 10px;
  height: 70px;
}

.navbar-brand {
  font-family: "Roboto", sans-serif;
  font-size: 1.5rem;
  font-weight: 700;
  display: flex;
  justify-content: center;
  width: 100%;
  text-align: center;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.mx-auto {
  color: #007bff;
  font-size: 2rem;
  display: flex;
  gap: 20px;
}

/* Sidebar */
.sidebar {
  background-color: #f8f9fa;
  height: 100vh;
  border-radius: 5px;
  box-shadow: 1px -1px 20px rgba(0, 0, 0, 0.2);
  padding: 30px 20px;
}

.nav-link {
  display: grid;
  grid-template-columns: 0.3fr 1fr;
  align-items: center;
  padding: 8px 8px;
  font-size: 1.1rem;
}

.nav-link .nav-text {
  margin-left: 8px;
}

.nav-link:hover {
  color: orange;
}

.nav-link.active {
  background-color: white !important;
  color: green !important;
}

/* Main Content */
.main-content {
  padding: 20px;
}

.sidebar-title {
  margin-top: 10px;
  margin-bottom: 5px;
  font-weight: bold;
}

/* Card Styles */
.card-title {
  font-size: 1.25rem;
  font-weight: 600;
}

.card-text {
  font-size: 1.5rem;
  font-weight: 700;
}

.mb-3 {
  margin-bottom: 1rem;
}
